.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.checkmark {
  align-self: start;
  display: inline-block;
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  margin-left: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
  color: rgb(16, 146, 182);
}

.cross {
  align-self: start;
  display: inline-block;
  transform: rotate(45deg) translateX(-50%);
  height: 25px;
  width: 25px;
  margin-left: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}
body {
  font-family: Montserrat, sans-serif;
}
